<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.toantx.serverservice">

    <!--Use for MyServerServiceUseMessenger-->
    <queries>
        <package android:name="com.toantx.clientservice" />
    </queries>

    <application
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true">
        <service
            android:name=".MyServerServiceUseMessager"
            android:enabled="true"
            android:exported="true" />
        <service
            android:name=".MyServerService"
            android:exported="true" />
    </application>

</manifest>